@media screen and (max-width:1599px) {
    .portfolio-card-cnt {
        gap: 110px;
    }
}

@media screen and (max-width:13399px) {
    .portfolio-card-cnt {
        gap: 70px;
    }

    .portfolio-card-cnt {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:1200px) {

    .work-skill h1 {
        font-size: 4rem;
    }

    .portfolio-card-cnt {
        gap: 40px;
    }
}

@media screen and (max-width:1023px) {}

@media screen and (max-width:992px) {

    .work-skill h1 {
        font-size: 3rem;
    }

    header ul {
        gap: 25px;
    }

    .portfolio-card-name h4 {
        font-size: 16px;
    }

    .portfolio-card-name p {
        font-size: 12px;
    }

    .portfolio-card-cnt {
        gap: 30px;
        margin-bottom: 5px;
    }

    .portfolio-card {
        gap: 17px;
    }

    .contact-cnt {
        padding: 60px 0;
    }

    .i-cnt h5 {
        font-size: 18px;
    }

    .i-cnt p {
        font-size: 15px;
    }

    .round {
        padding: 48px;
        left: -10px;
    }

    .about-me-1 {
        justify-content: center;
    }

    .about-cnt {
        padding: 100px 30px;
    }

    .about-me-2 p {
        font-size: smaller;
    }

    .social-media i {
        font-size: medium;
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width:768px) {

    .header-cnt nav ul {
        /* display: none; */
    }

    header nav ul a:hover {
        background-color: rgba(0, 0, 0, 0.176);
        padding: 15px 70px;
        border-radius: 10px;
        transition: 0.4s;
    }

    header nav ul {
        display: flex;
        height: 100vh;
        width: 60vh;
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #4C6380;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px;
        transition: 0.5s;
        opacity: 0;
    }

    header nav ul.clicked {
        opacity: 1;
        transform: translateX(10px);
    }

    .portfolio-card-cnt {
        gap: 45px;
    }

    .skills-card.right-border::before {
        display: none;
    }

    .skills-card.bottom-border::after {
        display: none;
    }

    .leave-msg {
        margin-top: 90px;
    }

    .toggle-bt {
        display: flex;
        flex-direction: column;
        gap: 3px;
        z-index: 100;
    }

    .hire-me {
        display: none;
    }

    .work-skill h1 {
        font-size: 2.6rem;
    }

    .my-name h2 {

        font-size: 35px;
    }

    .about-cnt {
        text-align: center;
        padding-top: 160px;
    }

    .round {
        left: 130px;
    }

    .about-me-2 {
        align-items: center;
    }

    .about-me-2 p {
        margin-top: 70px;
    }


    element.style {
        margin-top: 80px;
    }

    element.style {
        margin-top: 90px;
    }

    .portfolio-card-cnt {
        /* gap: 110px; */

    }

    .servise-cnt {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .servise {
        bottom: -65px;
    }


    .submit {
        display: flex;
        justify-content: end;
    }


    .servise {
        width: 100%;
    }

    .servise-cnt p {
        font-size: 12px;
        font-weight: 500;
    }

    .portfolio-card {
        padding: 10px;
    }

    .education-card {
        margin: 50px 0;
    }

}

@media screen and (max-width:575px) {
    .my-name h2 {
        font-size: 30px;
    }

    .hero-cnt {
        gap: 30px;
    }

    .round {
        left: 100px;
    }

    .servise-cnt p {
        font-size: 10px;
        font-weight: 400;
    }

    .portfolio-card {
        margin-left: 20px;
        margin-right: 20px;
    }

    .education-card {
        margin: 20px;
    }

    .portfolio-card {
        padding: 15px;
    }

    .portfolio-card-cnt i {
        height: 45px;
        width: 45px;
        border-radius: 8px;
        font-size: 22px;
    }

    .portfolio-card-cnt {
        gap: 150px;
    }

    .portfolio-card-name h4 {
        font-size: 24px;
    }

    .portfolio-card-name p {
        font-size: 15px;
    }
    .footer-cnt nav ul{
        text-align: center;
    }

}

@media screen and (max-width:537px) {
    .work-skill h1 {
        font-size: 2.4rem;
    }


    .my-name h2 {
        font-size: 28px;
    }

    .my-name p {
        font-size: 17px;
    }

    .portfolio-card-name p {
        font-size: 14px;
    }

    .portfolio-card-name h4 {
        font-size: 21px;
    }
}

@media screen and (max-width:500px) {

    .work-skill h1 {
        font-size: 2.3rem;
    }

    .portfolio-card-cnt i {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }

    .round {
        left: 80px;
    }


}

@media screen and (max-width:480px) {
    .portfolio-card-cnt {
        gap: 120px;
    }

    .round {
        left: 60px;
    }

    .work-skill h1 {
        font-size: 2.1rem;
    }

    .portfolio-card {
        padding: 12px;
    }


}

@media screen and (max-width:465px) {}

@media screen and (max-width:455px) {
    .portfolio-card-cnt {
        gap: 100px;
    }

    .round {
        left: 30px;
    }

    .work-skill h1 {
        font-size: 2.0rem;
    }

    .portfolio-card {
        padding: 12px;
    }



}

@media screen and (max-width:425px) {

    .portfolio-card-cnt {
        gap: 90px;
    }

    .work-skill h1 {
        font-size: 1.9rem;
    }
}

@media screen and (max-width:400px) {
    .work-skill h1 {
        font-size: 1.8rem;
    }

    .my-name p {
        font-size: 15px;

    }

    .my-name h2 {
        font-size: 24px;
    }
}

@media screen and (max-width:390px) {

    .work-skill h1 {
        font-size: 1.7rem;
    }

    .round {
        left: 10px;
    }

    .portfolio-card-cnt {
        gap: 80px;
    }


    .portfolio-card-name p {
        font-size: 10px;
    }

    .portfolio-card-name h4 {
        font-size: 18px;
    }

}

@media screen and (max-width:375px) {

    .work-skill h1 {
        font-size: 1.6rem;
    }

    .round {
        left: 0px;
    }

    .portfolio-card-name h4 {
        font-size: 16px;
    }

    .portfolio-card-cnt {
        gap: 50px;
    }

}

@media screen and (max-width:360px) {
    .contact {
        flex-direction: column;
        align-items: flex-start;
    }
}