ul{
    list-style: none !important;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
    display: inline-block;
}

/*  */

header a{
    color:#EFEFEF!important;
}
 header ul{
    display: flex;
    gap: 50px;
    align-items: center;
    background: black;
    padding:10px 20px;
    border-radius: 60px;
    height: 50px;
}
.header-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-cnt a i{
    color: rgb(250, 250, 250);
}
.hire-me{
    background: #4C6380;
    padding:15px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
}
.hire-me a{
    line-height: 1px;
}
.hire-me i{
    background-color:#EFEFEF ;
    padding: 5px 6px;
    border-radius: 100%;
    font-size: smaller;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4C6380;  
}



/* *****hero********* */


#id{
    height: 100vh;
}
.hero-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.my-name{
    display: flex;
    align-items: center;
    gap: 2px;
}
.my-name p{
    margin: 0;
}
.my-name h2{
    margin: 0;
}
.work-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-media i{
    border: black solid 1.5px;
    border-radius: 100%;
    font-size: larger;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}